 <div class="row" ng-init="init('getInvoice')">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Invoice</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link" ng-click="back();"><i class="fa fa-arrow-left"></i></a>
					</li>
					<li><a class="close-link" ng-click="tableClose();"><i class="fa fa-close"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table class="table">
                      <thead>
						<tr>
                          <th>#</th>
                          <th>Food Name</th>
                          <th>price</th>
                        </tr>
                      </thead>
                      <tbody>
						<tr ng-repeat="row in data.row.list">
                          <td ng-bind="row.od_item_index"></td>
                          <td ng-bind="row.food_name"></td>
                          <td ng-bind="'$'+row.od_price"></td>
                        </tr>
						<tr>
							<td align="right" colspan="2">Total:</td>
							<td ng-bind="data.row.total"></td>
						</tr>
                      </tbody>
				</table>
			</div>
			<div class="x_title">
				<h2>delivery</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<span>receiver：</span>
					<span ng-bind="data.row.order_list.o_receiver"></span>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<span>phone：</span>
					<span ng-bind="data.row.order_list.u_phone"></span>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<span>messge：</span>
					<span ng-bind="data.row.order_list.o_messge"></span>
				</div>	
				<div class="col-md-3 col-sm-3 col-xs-12">
					<span>addrees：</span>
					<span ng-bind="data.row.order_list.o_address" ></span>
				</div>
			</div>
	  </div>
	</div>
</div>