<div class="row" ng-init="addFormInit()">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
		  <div class="x_title">
			<ul class="nav navbar-right panel_toolbox">
			  <li><a class="collapse-link" ng-click="back();"><i class="fa fa-arrow-left"></i></a>
			  </li>
			  <li><a class="close-link" ng-click="tableClose();"><i class="fa fa-close"></i></a>
			  </li>
			</ul>
			<div class="clearfix"></div>
		  </div>
		  <div class="x_content">
			<br>
			<form id="demo-form2"  action="{{data.form.action}}" method="post" class="form-horizontal form-label-left" >
			  <div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" >ch name<span class="required">*</span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<input type="text" name="r_name" required="required" class="form-control col-md-7 col-xs-12">
				</div>
			  </div>
			  <div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" >en name<span class="required">*</span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<input type="text" name="r_name_en" required="required" class="form-control col-md-7 col-xs-12">
				</div>
			  </div>	 
			  <div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" >lat lng<span class="required"></span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<my-map zoom="15" lat="10.6268305" lng="103.5230393"></my-map>
				</div>
			  </div>
			  <div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">address 
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
				  <input type="text" name="r_address" required="required" class="form-control col-md-7 col-xs-12">
				</div>
			  </div>	  
			  <div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">ch description 
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
				  <textarea class="form-control" name="r_description" rows="3" ></textarea>
				</div>
			  </div>
			  <div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">en description 
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
				  <textarea class="form-control" name="r_description_en" rows="3" ></textarea>
				</div>
			  </div>
			   <div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">operation
				</label>
				<div class="col-md-5 col-sm-5 col-xs-12 ">
					<div ng-open-Select  name="operation_day[]" ></div>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-12 ">
				</div>
			  </div>
			  <div class="ln_solid"></div>
				<div class="form-group">
				<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
					<button class="btn btn-primary" type="reset">Reset</button>
					<input type="submit" class="btn btn-success" value="Submit">
				</div>
				</div>
			</form>
		  </div>
		</div>
	  </div>
	</div>
</div>