<div class="x_panel" ng-init="table_pageinfo.p ='1'" style="height:960px;">
	<div class="x_title">
		<ul class="nav navbar-right panel_toolbox">
			<li><a class="collapse-link" ng-click="back();"><i class="fa fa-arrow-left"></i></a></li>
			<li><a ng-click="tableAdd()" ng-if="data.form.table_add !==undefined"  class="close-link"><i class="fa fa-plus"></i></a></li>
			<li><a ng-click="tableClose()" class="close-link"><i class="fa fa-close"></i></a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<div class="dataTables_wrapper form-inline dt-bootstrap no-footer" >
			<div class="row">
				<div class="col-sm-2">
					<div>
						<label>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">show </font>
							</font>
							<select name="datatable_length" ng-change="changeLimit()" ng-model="data.table_pageinfo.limit"  ng-init="data.table_pageinfo.limit='10'" class="form-control input-sm">
								<option value="1">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">1</font>
									</font>
								</option>
								<option value="10">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">10</font>
									</font>
								</option>
								<option value="25">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">25</font>
									</font>
								</option>
								<option value="50">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">50</font>
									</font>
								</option>
								<option value="100">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">100</font>
									</font>
								</option>
							</select>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">entries</font>
							</font>
						</label>
					</div>
				</div>
				<div class="col-sm-10">
					<div>
						<label ng-repeat="(key, value) in data.table_form.inputSearchControl">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;" ng-bind="key+':'"></font>
							</font>
							<input type="search" ng-model="data.table_search[key]"  ng-enter="searchClick();"  class="form-control input-sm" placeholder="" >&nbsp;&nbsp;&nbsp;
						</label>
						<label ng-repeat="(key, value) in data.table_form.selectSearchControl">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;" ng-bind="key+':'"></font>
							</font>
							<select  ng-change="select_search(key,data.table_search[key])" ng-model="data.table_search[key]" ng-init="data.table_search[key]==''" ng-enter="searchClick();"  class="form-control" >
								<option value="">please select</option>
								<option ng-repeat="option in value" value="{{option.value}}" ng-bind="option.text"></option>
							</select>&nbsp;&nbsp;&nbsp;
						</label>
						<button type="submit" ng-click="searchClick()" class="btn btn-success">search</button>
						<button type="submit" ng-click="searchReset()" class="btn btn-primary">reset</button>
					</div>
				</div>
			</div>
			<div class="row"  ng-show="data.table_row.length >0">
				<div class="col-sm-12" ng-init="tableListInit()">
					<table  class="table table-striped table-bordered bulk_action dataTable no-footer">
						<thead>
							<tr role="row">
								<th class="sorting" ng-class="data.table_order[filed] == 'DESC'?'sorting_desc':(data.table_order[filed] == 'ASC' ? 'sorting_asc':'')" ng-click="order(filed);" ng-repeat="(filed,value) in data.table_fields" ng-bind="filed" ></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in data.table_row">
								<td ng-repeat="(filed,value) in data.table_fields" ng-bind="row[filed]"></td>
								<td>
									<button ng-if="data.form.table_del !==undefined" type="button" ng-click="del(row.id)" class="btn btn-default btn-xs">del</button>
									<button ng-if="data.form.table_del !==undefined" type="button" ng-click="edit(row.id)" class="btn btn-default btn-xs">edit</button>
									<a ng-repeat="action in data.table_action_list" ng-bind="action.pe_name" href="/admin/layout/tabpanel.html#!{{action.pe_control}}/{{action.pe_func}}/{{action.pe_page}}/{{data.tabindex}}/{{data.pe_id}}/{{row.id}}" class="btn btn-default btn-xs"> </a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row"  ng-show="data.table_row.length >0">
				<div class="col-sm-5">
					<div class="dataTables_info"  role="status" a>Showing <span ng-bind="data.table_pageinfo.start"></span> to <span ng-bind="data.table_pageinfo.end"></span> of <span ng-bind="data.table_pageinfo.total"></span> entries</div>
				</div>
				<div class="col-sm-7">
					<div class="dataTables_paginate paging_simple_numbers" >
						<ul class="pagination">
							<li class="paginate_button previous" ng-click="pagePrevious();$event.preventDefault();"  ng-class="'1'==data.table_pageinfo.p?'disabled':''" >
								<a href="#" >Previous</a>
							</li>
							<li ng-class="($index +1)==data.table_pageinfo.p?'active':''" class="paginate_button" ng-repeat="n in [] | range:data.table_pageinfo.pages">
								<a  ng-click="changePage($index +1);$event.preventDefault();" ng-bind="$index+1"></a>
							</li>
							<li class="paginate_button next " ng-click="pageNext();$event.preventDefault();" ng-class="data.table_pageinfo.p==data.table_pageinfo.pages?'disabled':''" >
								<a href="#" >Next</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" ng-show="data.table_row.length <=0">
				<div class="col-sm-12">
				<h2>NO Data Search</h2>
				</div>
			</div>
		</div>
	</div>
</div>
