<div class="col-md-12 col-sm-12 col-xs-12" ng-init="tableListInit(tableindex)">
	<div class="">
	  <div class="clearfix"></div>
	  <div class="x_content">
		<table  class="table table-striped table-bordered">
		  <thead>
			<tr>
			  <th>Name</th>
			  <th>Position</th>
			  <th>Office</th>
			  <th>Age</th>
			  <th>Start date</th>
			  <th>Salary</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="row in table_row[tableindex]">
			  <td>Tiger Nixon</td>
			  <td>System Architect</td>
			  <td>Edinburgh</td>
			  <td>61</td>
			  <td>2011/04/25</td>
			  <td>$320,800</td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
 </div>